/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */

body {
  font-family: 'Pontano Sans', sans-serif;
}

.underlined {
  border-bottom: 0.1em solid #333;
}

a, a:hover, a:active, a:visited {
    color: #000 !important;
}

footer {
  margin: 2em 0 4em 0;
  text-align: center;
  font-size: 0.8em;
  color: #ccc;
}

footer a, footer a:hover, footer a:active, footer a:visited {
  color: #ccc !important;
  text-decoration: none;
}

h1 {
  text-align: right;
}

#portrait {
  max-width: 16.5vw;
  margin: -2em 0 0 2em;
}

#th-about {
/*  height: 16.5vw;
  background: url(../img/k.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#th-entrepreneur {background: #FBB735;}
#th-consultant {background: #E98931;}
#th-designer {background: #EB403B;}
#th-photographer {background: #B32E37;}
#th-painter {background: #6C2A6A;}
#th-musician {background: #5C4399;}

/* More colors: http://www.colorschemer.com/schemes/viewscheme.php?id=10576 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#imprint {
  padding: 0 2em;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

a {
  color: #f05451;
}

nav a {
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-tabs {
  position: relative;
  max-width: 960px;
  margin: 2em auto;
  padding-right: 2em;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
}

@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
}

.cd-tabs nav {
  position: relative;
  float: none;
  background: transparent;
  box-shadow: none;
}

.cd-tabs-navigation {
    width: auto;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: auto;
  /* padding: 0 1em 0 1em; */
  margin-right: 1em;
  text-align: center;
  font-weight: bold;
  padding-top: 34px;
  color: #555 !important;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected {
  /* box-shadow: inset 0 -2px 0 #000; */
  color: #000 !important;
  border-bottom: 2px solid black;
}
.cd-tabs-navigation a::before {
  top: 50%;
  margin-top: -10px;
  margin-left: 0;
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  line-height: 1.6;
  margin-bottom: 2em;
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {

    nav {
      font-size: 0.8em;
    }

    .cd-tabs-navigation a {
      margin-right: 0.6em;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   RESPONSIVE TABLE
   ========================================================================== */
 
html, body {
  /* height: 100%; */
}

table { 
  width: 100%;
  /* height: 100%; */
  border-collapse: collapse; 
}
/* Zebra striping
tr:nth-of-type(odd) { 
  background: #eee; 
}  */
th { 
  width: 16.5%;
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 1em; 
/*  border: 1px solid #ccc; */
  text-align: left;
  vertical-align: top;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    #portrait {
      display: none;
    }

    h1 {
      margin: 1em;
      text-align: left;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { /* border: 1px solid #ccc; */ }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 40%;
        margin: 1em;
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 1em;
        left: 1em;
        width: 40%; 
        padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "About me"; }
    td:nth-of-type(2):before { content: "Entrepreneur"; }
    td:nth-of-type(3):before { content: "Consultant"; }
    td:nth-of-type(4):before { content: "Designer"; }
    td:nth-of-type(5):before { content: "Photographer"; }
    td:nth-of-type(6):before { content: "Painter"; }
    td:nth-of-type(7):before { content: "Musician"; }




}

<!--[if !IE]><!-->
<style>
   /* table-related media query stuff only */
</style>
/* Or an external stylesheet or whatever */
<!--<![endif]-->